@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html {
  font-family: 'Spartan', sans-serif;
}

body {
	margin: 2rem;
}

nav {
	margin-bottom: 2rem;
	text-align: right;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:first-child {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

nav a:last-child {
	margin-left: 2rem;
}

#banner {
	width: 100%;
	height: 25vw;
	background-image: url(./images/banner1.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	margin-bottom: 10vw;
}

#bannerText {
	font-size: 5vw;
	color: white;
	text-align: center;
	margin: auto;
}

.content {
	display: flex;
}

.workDiv {
	width: 30%;
	height: 30%;
	border: 2px solid #c7c7c7;
}

.workText {
	padding: 1vw;
}

h3 {
  color: #575757;
}

img {
  width: 100%;
}
